<html>
        <head>
                <link rel="stylesheet" href="styles.css">
        </head>
<body>
    <h1>Update User</h1></br>
    <form action="/updateuserdata" method="POST">
        User Old Name <input type="text"  name="unameold" /> </br>
        User New Name <input type="text"  name="unamenew" /> </br>
        User New Age <input type="number"  name="uagenew" /> </br>
        <input type="submit" value="Submit" /> </br>
    </form>
    <a href="/">Home</a>
    <a href="/add">Add Student</a>
	<a href="/show"> Show Student </a>
	<a href="/delete"> Delete Student </a>
</body>
</html>