<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Add User Details</title>
		<link rel="stylesheet" href="styles.css" />
	</head>
	<body>
		<h3 style="text-align: center">Add Student</h3>
        <form action="/data" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="username" id="name" /> </br>
            <label for="age">Age:</label>
            <input type="number" name="age" id="age" /> </br>
            <input type="submit" value="Submit">
        </form>
        <a href="/">Home</a>
		<a href="/show"> Show Student </a>
		<a href="/update"> Edit Student </a>
		<a href="/delete"> Delete Student </a>
	</body>
</html>
